<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
      <Label class="action-bar-title" text="Sobre mi" colSpan="2"></Label>
  
      <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
  </ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fa" text="&#xf17b;" *ngIf="(ico=='i')"></Label>
    <Label class="page__content-icon fab" text="&#xf179;" *ngIf="(ico=='a')" ></Label>    
    <Label class="page__content-placeholder" text="componente descrición"></Label>
</StackLayout>