<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Featured" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<StackLayout class="page__content" id="layout" #layout>
  <Label class="page__content-icon fas" text="&#xf005;"></Label>
  <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>
  <Button (tap)="prueba()">color</Button>
  <Button (tap)="prueba2()">rotación</Button>
  <Button (tap)="prueba3()">escalado</Button>
</StackLayout>
